* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: "Exo";
}

.modal {
  /*Medidas random*/
  width: 80vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://cdn2.unrealengine.com/egs-biomutant-experiment101-g1a-00-1920x1080-7283d571f350.jpg");
  background-size: cover;
  background-position: inherit;
  position: relative;
  z-index: 0;
}

.modal::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(
    180deg,
    rgba(48, 48, 48, 0.0001) 0%,
    #303030 84.4%
  );
  z-index: -1;
}

.container {
  height: 1500px;
  width: 1500px;
  background-color: white;
}

.modal {
  margin: 100px;
  height: 793px;
  width: 1076px;
  border-radius: 24px;
}
