* {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  font-family: "Exo";
}

.modal {
  height: 79.3rem;
  width: 107.6rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: url("https://cdn2.unrealengine.com/egs-biomutant-experiment101-g1a-00-1920x1080-7283d571f350.jpg");
  background-size: cover;
  background-position: inherit;
  position: absolute;
  z-index: 200;
  border-radius: 24px;
  padding: 2rem;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 30;
}

.modal::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(180deg, rgba(48, 48, 48, 0.0001) 0%, #303030 70%);
  z-index: -1;
  border-radius: 24px;
}

.modal-header {
  width: 100%;
  height: 35%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.close-modal {
  margin: 0 0 0 94%;
  position: absolute;
  cursor: pointer;
}

.modal-platform-container {
  width: 20rem;
  height: 10rem;
  margin-top: 10rem;
}

.modal-title {
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 6.4rem;
}

.chips-container {
  width: 36rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.chip-date,
.rating-top,
.ranking {
  height: 2.8rem;
  background-color: #ffffff;
  width: 12.5rem;
  border-radius: 6rem;
  color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.ranking {
  width: 9rem;
}

.modal-body {
  height: 65%;
  display: flex;
}

.modal-information {
  width: 70%;
  height: 100%;
}

.modal-description {
  height: 15rem;
  overflow: auto;
  margin-bottom: 1rem;
}

.modal-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #ffffff;
}

.modal-buttons {
  width: 100%;
  height: 5rem;
  display: flex;
  gap: 2rem;
}

.btn-wish,
.btn-purchase {
  width: 23rem;
  height: 4.7rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  border-radius: 6px;
}

.btn-wish {
  background: #4cc986;
  border: #4cc986;
  color: #ffffff;
}

.btn-purchase {
  border: 2px solid #36b972;
  color: #36b972;
  background-color: inherit;
}

.modal-data {
  width: 100%;
  height: 64%;
  display: flex;
  flex-wrap: nowrap;
}

.section-a {
  width: 47%;
  height: 100%;
}

.section-b {
  width: 50%;
  height: 100%;
  margin-left: 4rem;
}

.data-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-top: 2.5rem;

  color: #939393;
}

.data-txt {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #ffffff;
}

.modal-icons {
  display: flex;
  margin-top: 3.5rem;
  gap: 1rem;
}

.modal-media {
  width: 100%;
  height: 95%;
  padding: 2rem;
}

.modal-video {
  width: 100%;
  height: 50%;
  margin-top: -2rem;
}

.modal-photos {
  width: 100%;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 72rem;
    height: 98rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .modal {
    width: 32rem;
    height: 157rem;
    border-radius: 0px;
  }

  .modal-header {
    width: 30rem;
    height: 10rem;
  }

  .close-modal {
    margin: 0 0 0 0;
    position: absolute;
    cursor: pointer;
  }

  .modal-title {
    font-weight: 800;
    font-size: 3rem;
    line-height: 6.4rem;
    margin-top: 3rem;
  }

  .modal-platform-container {
    display: none;
  }

  .chips-container {
    display: none;
  }

  .modal-information {
    width: 30rem;
    height: 100%;
  }
}
